<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/6788e71a64.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <!--Estilos globales para todas las paginas web-->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/tarjetaIdentificacion.css">

    <!-- <link rel="stylesheet" href="/css/footer.css"> -->
    <!-- Script para escojer el tema -->
    <!-- <script src="/JS/theme.js"></script> -->
    <link rel="shortcut icon" href="./images/faviconASCENSE.png" type="image/x-icon">
    <title>ASCENSE</title>
</head>

<body class="">


    <header>
        <section>
            <h1 class="logo">ASCENSE</h1>
            <!-- Icono menu -->
            <button class="menu" hidden><i class="fa-solid fa-bars"></i></button>
        </section>

        <nav class="nav-content hidden-menu">
            <ul class="nav-bar ">
                <li><a class="nav-item" href="/examenes">Examenes</a></li>
                <li><a class="nav-item" href="/comunidad">Comunidad</a></li>
                <li><a class="nav-item" href="/recursos">Recursos</a></li>
                <li><a class="nav-item" href="/register">Acceso</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">

        <section class="hero">
            <canvas id="background"></canvas>
            <h3 class="hero-tag">🚀 Avanza con organización y enfoque</h3>
            <div class="hero-primero">
                <div class="hero-h1">
                    <!-- <img src="./images/faviconASCENSE.png" alt="Logotipo de pagina web" width="110px"> -->
                    <h1>Mejora tus conocimientos con los mejores recursos</h1>
                </div>
            </div>
            <p class="hero-p">Preparate para mejorar tus examenes con los mejores recursos.</p>
            <div class="content-btns-hero">
                <a class="btn-hero" href="/examenes">Comenzar</a>
                <a class="btn-hero btn-info" href="https://discord.gg/xSZfaXMFDJ">Entra a nuestro discord</a>
                <!-- <a href="/0812377" class="btn-hero mas-reciente">Examen mas reciente</a> -->
            </div>
        </section>

        <!-- Preview panel -->
        <section class="panel-preview">
            <img src="./images/panel-preview.png" alt="Imagen de muestra del panel" width="100px">
        </section>
        <!--  -->
        <!-- Ofrecemos -->
        <section class="ofrecemos">
            <h2>Ofrecemos:</h2>
            <div class="ofrecemos-list">
                <!--  -->
                <div class="ofrecemos-item ofrecemos-item-1">
                    <img width="100px" src="./images/support-alt-svgrepo-com.min.svg" alt="Imagen Nube">
                    <h3>Respaldo en la nube</h3>
                </div>
                <!--  -->
                <div class="ofrecemos-item ofrecemos-item-2">
                    <img width="100px" src="./images/i-exam-multiple-choice-svgrepo-com.min.svg" alt="Imagen Nube">
                    <h3>Simulacros de examenes</h3>
                </div>
                <!--  -->
                <div class="ofrecemos-item ofrecemos-item-3">
                    <img width="100px" src="./images/support-alt-svgrepo-com.min.svg" alt="Imagen Nube">
                    <h3>Atencion al cliente 24/7</h3>
                </div>
            </div>
        </section>
        <!--  -->
        <section class="informacion">
            <div class="circulo-luz"></div>
            <div class="circulo"></div>
            <!--  -->
            <article class="informacion-contenido">
                <h2>ASCENSE tu exito academico</h2>
                <p>
                    Es tu plataforma educativa integral diseñada para simplificar y enriquecer tu experiencia
                    de aprendizaje. Con herramientas intuitivas y recursos personalizados, te ayudamos a alcanzar
                    tus metas academicas de manera eficiente y colaborativa.
                </p>
                <div class="informacion-tarjetas">
                    <!-- tarjetas de informacion -->
                    <article class="tarjeta-informacion tarjeta-informacion-1">
                        <img src="./images/oscuro.webp" alt="">
                    </article>
                    <article class="tarjeta-informacion tarjeta-informacion-2">
                        <img src="./images/faviconASCENSE.png" alt="">
                    </article>
                    <article class="tarjeta-informacion tarjeta-informacion-3">
                        <img src="./images/oscuro3.jpg" alt="">
                    </article>
                    <article class="tarjeta-informacion tarjeta-informacion-4">
                        <img src="./images/oscuro4.avif
                        " alt="">
                    </article>
                </div>
            </article>
            <!--  -->
            <div class="circulo-luz-bottom"></div>
        </section>

        <!-- Seccion de informacion de la pagina web -->
        <section class="information-cards">
            <h4>¿Por qué elegir nuestra plataforma?</h3>
                <!-- Creacion de examenes de manera sencilla -->
                <article class="informacion-card">
                    <div>
                        <h2>Crea tus exámenes en minutos</h2>
                        <p>Diseña cuestionarios personalizados sin necesidad de conocimientos técnicos. Solo selecciona
                            las pregutnas, establece la respuestas correctas y listo.</p>
                        <ul>
                            <li> <i class="fa-solid fa-check"></i> Facil de usar</li>
                            <li> <i class="fa-solid fa-check"></i> Personalizable según la materia</li>
                            <li> <i class="fa-solid fa-check"></i> Ahorra tiempo en la preparación</li>
                        </ul>
                    </div>

                    <div>
                        <h3>Para profesores</h3>
                    </div>
                </article>

                <!--  -->
                <article class="informacion-card">
                    <div>

                        <h2>Aprende practicando</h2>
                        <p>Realiza exámenes de práctica que simulan los reales. Refuerza tus conocimientos y prepara tus
                            evaluaciones con confianza.</p>
                        <ul>
                            <li> <i class="fa-solid fa-check"></i> Corección inmediata</li>
                            <li> <i class="fa-solid fa-check"></i> Revisión de errores al instante</li>
                            <li> <i class="fa-solid fa-check"></i> Mejora tu rendimiento académico</li>
                        </ul>
                    </div>

                    <div>
                        <h3>Para estudiantes</h3>
                    </div>
                </article>
                <!--  -->
                <article class="informacion-card">
                    <div>
                        <img class="informacion-card-icon" src="/images/cloud_10949149.png" alt="Cloud">

                        <h2>Accede desde cualquier lugar</h2>
                        <p>Una platadorma en la nube, disponible 24/7 para que tanto profesores como estudiantes puedan
                            crear y resolver exámenes en cualquier dispositivo.</p>
                        <ul>
                            <li> <i class="fa-solid fa-check"></i> Compatible con PC, tablet y movil</li>
                            <li> <i class="fa-solid fa-check"></i> Guarda tu progreso automaticamente</li>
                            <li> <i class="fa-solid fa-check"></i> Sin instalaciones conplicadas</li>
                        </ul>
                    </div>

                    <div>
                        <h3>Beneficios generales</h3>
                    </div>
                </article>
        </section>
        <!-- Seccion identificadores -->
        <!-- <section class="identificaciones">
            <h2>Identificaciones digitales</h2>
            <p>Facilitamos credenciales personalizados para <strong>trabajadores y estudiantes</strong>, con un diseño
                moderno y seguro.</p>

            <div class="identificaciones-cards">
                Tarjeta ejemplo de trabajador
                <div class="card">
                    <div class="banner">
                        <span class="line green"></span>
                        <span class="line blue"></span>
                        <span class="line purple"></span>
                        <span class="line orange"></span>
                        <span class="line red"></span>
                        <span class="line gray"></span>
                        <span class="line blue"></span>
                        <span class="line green"></span>
                    </div>
                    <div class="profile">
                        <div class="avatar"></div>
                        <div class="info">
                            <h2>Jouna Balderas</h2>
                            <p>@jounabalderas</p>
                            <div class="activo"><span></span>Activo</div>
                        </div>
                    </div>
                    <div class="descripcion">
                        Hola, soy desarrollador fullstack, te puedo crear cualquier tipo de paginas dinamicas o
                        estaticas. Tu solo dime que quieres y yo lo creo. ✨
                    </div>
                    <div class="portfolio">Portfolio</div>
                    <div class="skills">
                        <div class="skill">🐍 Python</div>
                        <div class="skill">⚛️ React</div>
                        <div class="skill">🐳 Docker</div>
                        <div class="skill">📐 UX Designer</div>
                    </div>
                    <div class="visualizando">
                        Visualizando
                        <strong>
                            <img class="vscode-icon"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"
                                alt="">
                            Visual Studio Code
                        </strong>
                    </div>
                </div>
            

            </div>
        </section> -->
        <!-- Footer -->
        <footer>
            <section class="tarjeta-presentacion">
                <img src="./images/faviconASCENSE.png" alt="" class="tarjeta-presentacion-img">
                <h1 class="tarjeta-presentacion-h1">
                    Comienza ahora y mejora tus habilidades
                </h1>
                <button class="tarjeta-presentacion-boton">
                    Comienza ahora →
                </button>
            </section>
            <section class="footer-links">

                <article class="footer-links-ascense">
                    <img src="./images/faviconASCENSE.png" alt="">
                    <h1>ASCENSE</h1>
                </article>

                <article class="footer-link footer-links-descubre">
                    <p>Descubre</p>
                    <nav>
                        <ul>
                            <li><a href="">Inicio</a></li>
                            <li><a href="">Examenes</a></li>
                            <li><a href="">Comunidad</a></li>
                            <li><a href="">Recursos</a></li>
                            <li><a href="">Sobre nosotros</a></li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </nav>
                </article>

                <article class="footer-link footer-links-siguenos">
                    <p>Siguenos</p>
                    <nav>
                        <ul>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Github</a></li>
                            <li><a href="">Discord</a></li>
                        </ul>
                    </nav>
                </article>
                <article class="footer-link footer-links-navegar">
                    <p>Navegar</p>
                    <nav>
                        <ul>
                            <li><a href="">Inicio</a></li>
                            <li><a href="">Examenes</a></li>
                            <li><a href="">Comunidad</a></li>
                            <li><a href="">Recursos</a></li>
                            <li><a href=""></a>Sobre nosotros</li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </nav>
                </article>
                <article class="footer-link footer-links-contacto">
                    <p>Contacto</p>
                    <nav>
                        <ul>
                            <li>
                                <p>+52 8184705886</p>
                            </li>
                            <li>
                                <p>ascense.studio@gmail.com</p>
                            </li>
                        </ul>
                    </nav>
                </article>

            </section>

            <!-- <hr style="height: 100px;"> -->
            <hr>
            <!-- copyright -->
            <section class="footer-copyright" style="width: 100%;">
                <p>Copyrigh todos los derechos reservador</p>
                <p class="terminos-condiciones">
                    <a href="">Privacidad y politica</a>
                    <a href="">Terminos y condiciones</a>
                </p>
            </section>
        </footer>
        <!-- <script src="/JS/main.js"></script>  -->

        <script>
            // Obtener el queary acces_token
            const hashParams = new URLSearchParams(window.location.hash.substring(1));
            const accessToken = hashParams.get("access_token"); // 👈 ahora es consistente
            const refreshToken = hashParams.get("refresh_token");

            if (accessToken) {
                console.log("Token de acceso:", accessToken);

                // Guardar en localStorage
                localStorage.setItem("access_token", accessToken);
                localStorage.setItem("refresh_token", refreshToken);

                // Redirigir al panel
                window.location.href = "/panel";
            }


            const canvas = document.getElementById("background");
            const ctx = canvas.getContext("2d");

            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;

            let particlesArray = [];

            class Particle {
                constructor() {
                    this.reset();
                    this.size = Math.random() * 2 + 1; // tamaño estrella
                    this.opacity = Math.random() * 0.8 + 0.2;
                }

                reset() {
                    this.x = Math.random() * canvas.width;
                    this.y = Math.random() * canvas.height;
                    this.speedY = Math.random() * 10 + 0.5; // distintas velocidades para dar profundidad
                }

                update() {
                    this.y += this.speedY; // las estrellas "bajan", pal efecto como de nave espacial juasjuas

                    if (this.y > canvas.height) {
                        this.x = Math.random() * canvas.width;
                        this.y = 0; // reaparecen arriba
                        this.speedY = Math.random() * 2 + 0.5;
                    }
                }

                draw() {
                    ctx.beginPath();
                    ctx.arc(this.x, this.y, this.size, 0, Math.PI * 2);
                    ctx.fillStyle = `rgba(255,255,255,${this.opacity})`;
                    ctx.fill();
                }
            }

            function handleParticles() {
                particlesArray.forEach(p => {
                    p.update();
                    p.draw();
                });
            }

            function init() {
                particlesArray = [];
                const count = Math.floor((canvas.width * canvas.height) / 10000);
                for (let i = 0; i < count; i++) {
                    particlesArray.push(new Particle());
                }
            }

            function animate() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                handleParticles();
                requestAnimationFrame(animate);
            }

            window.addEventListener("resize", () => {
                canvas.width = window.innerWidth;
                canvas.height = window.innerHeight;
                init();
            });

            init();
            animate();
        </script>
        <script src="./JS/menu.js"></script>

</body>

</html>